<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-primary text-light">
       Actualizar contrasenia
      </div>
      <div class="card-body">
        <form action="/new-password" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />  
          <input type="hidden" name="passwordToken" value="{{passwordToken}}" />    
            <input type="hidden" name="userId" value="{{userId}}" />      
      
          <div class="mb-3">
            <label for="password-input" class="form-label">
              Password
            </label>
            <input
              type="password"
              class="form-control"
              id="password-input"
              name="password"
            />
          </div>
          <div class="mb-3">
            <label for="confirm-password-input" class="form-label">
              Confirm Password
            </label>
            <input
              type="password"
              class="form-control"
              id="confirm-password-input"
              name="confirmPassword"
            />
          </div>
          <button type="submit" class="btn btn-primary">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>